{% load static %}
<!DOCTYPE html>
<html lang='zh-Hans' charset='utf-8'>
{% block head %}
<head>
  <meta name =”viewport” content=”width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no”>

  <link href="{% static 'meetings/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">  
  <link rel="stylesheet" type="text/css" href="{% static 'meetings/css/baseTemplate.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'meetings/css/scheduleUI.css' %}" />
  <link href="{% static 'meetings/css/ui-lightness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet">

  <script type="text/javascript" src="{% static 'meetings/js/jquery-2.0.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'meetings/js/jquery-ui-1.10.3.custom.js' %}"></script>
  <script type='text/javascript' src="{% static 'meetings/js/jQuery-UI-Resizable-Snap-extension.js' %}"></script>  
  <script type="text/javascript" src="{% static 'meetings/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){

  $("#ajaxTest").keyup(function(){

      $.ajax({
          type: "POST",
          url: "/loggedin/ajaxTest/",
          data: { 
              "testMessage": $("#ajaxTest").val(),
              "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: testSuccess,
          dataType: "html",

      });

  });

});
  var testSuccess = function(data, textStatus)
  {
    $("#ajaxTestResult").html(data);
  };
</script>
  <!--BOOTSTRAP-->

</head>
{% endblock %}
<body>
   {%block topbar%}
  <div id ="topBar" class="navbar navbar-static-top navbar-default">
    <div class="container">
    <a id＝'brand' class="navbar-brand" href="/">速议<h6 style='display:inline-block; margin-bottom: -20px;'>Beta</h6></a>
  <p class="navbar-right navbar-text "><a class="whitify" data-toggle="modal" href="#videoModal">注册</a></p>
    <form class ="navbar-form navbar-right" role="form" action="/auth/" method="POST">{% csrf_token %}
  {% if last_invalid %}
    <h5 id="loginWarning" class="navbar-text" style="margin-bottom:-20px;">*抱歉，用户名／密码组合不正确，请重试！</h5>
  {% endif %}
  {% if last_registered %}
    <h5 id="loginWarning" class="navbar-text">*注册成功，请用您新注册的账号登录！</h5>
  {% endif %}
  <div class="form-group">
    <label class="sr_only hidden" for="username">用户名</label>
    <input class="form-control" type="text" placeholder="用户名／邮箱" name="username" id="username">
  </div>
  <div class="form-group">
    <label class="sr_only hidden" for="password">密码</label>
    <input class="form-control" type="password" name="password" placeholder="密码" id="password">
  </div>
    <button type="submit" class="btn btn-default" > 登录</button>
  </form>
 

    </div>
  </div>
    {%endblock%}
  {% block frontpage %}
  <div class="row">
  <div id ="sideBar" class="col-md-2 visible-md visible-lg">
    {%block sidebar%}
    {%endblock%}
  </div>
  {% endblock %}
  <div id ="content" class="pull-right col-md-10">
    {%block content%}
    {%endblock%}
  </div>
</div>
</body>
</html>